*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
:root{
    
    --primary-orange: hsl(26, 100%, 55%);
    --secondary-orange: hsl(25, 100%, 94%);

    --fc-dark-heading: hsl(220, 13%, 13%);
    --fc-light-heading: hsl(219, 9%, 45%);
    --fc-dark-pg: hsl(220, 14%, 75%);
    --fc-light-pg: hsl(223, 64%, 98%);

    --clr-light: hsl(0, 0%, 100%);
    --clr-shadow: hsl(0, 0%, 0%);

    --ff-primary: 'Kumbh sans', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 700;

}

body{
    width: 80%;
    margin: 0 auto;
}